<h1>Find the Group best for You!</h1>

<%= form_with model: @kpopgroup, url: '/new' do |f| %>
    <br><br>

    What is your favorite genre? <%= f.text_field :genre %>
    <br><br>
    Do you prefer a boy group or girl group? <%= f.radio_button :group_type, true %> Boy 
    <%= f.radio_button :group_type, false %> Girl
    <br><br>

    <%= f.submit "Submit"  %>

<% end %>