<%= flash[:message] %>
<h1>Welcome, <%= @user.name %>!</h1>
<h2>Main Library</h2>

<li><%= link_to "MATCHES", user_matches_path(@user) %></li><br><br>

<h3>Kpop Groups - (all)</h3>
<% @kpopgroups.each do |group| %>
    <% if @user %>
        <%= link_to group.name,  user_kpopgroup_path(@user, group) %><br><br>
    <% else %>
        <%= link_to group.name, kpopgroup_path(group) %>
    <% end %>
<% end %>




